body {
  margin: 0;
  font-family: 'Helvetica Neue', sans-serif; }
  body h1 {
    margin: 0 auto;
    z-index: 0;
    text-align: center;
    font-size: 2em;
    color: #0080FF;
    opacity: 0.7; }
  body h1, body iframe {
    width: 500px;
    margin: 0 auto; }

iframe {
  background: #fff;
  display: block;
  height: 320px; }
